<div class="container">
  <img src="assets/btc.png" class="crypto-icon"/>
  <p class="title">Bitcoin</p>
  <form>
    <div class="radio-wrapper">
      <label>
        <input type="radio"> BTC
      </label>
      <label>
        <input type="radio"> ETH
      </label>
    </div>
    <div class="input-wrapper">
      <input type="number" placeholder="USD Amount">
      <input type="number" placeholder="Crypto amount">
    </div>
    <div class="button-wrapper">
      <button type="submit"> Convert </button>
    </div>
  </form>

</div>
